<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Cohort Connect </title>
  </head>
  <body>

    <p>
      <center> Welcome to the chat! </center>
      <br><center> Feel free to share with others <center>
    </p>

    <p>
      <form method='get'>
        <b>Chat</b></br>
        <input type=text size= '150' style='border-color:red; height: 400px' name='user_message'>

      </form>
    </p>

    <p>
      <form method='post'>
        Message: <input type=text size= '50' style='border-color:red; height: 40px' name='user_message'>
        <button type='submit'>
          Send
        </button>

      </form>
    </p>

  </body>
</html>
