<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <!-- <h2>Profile picture</h2>
    <p>enter url to profile pic: <input type="text" name="image" value=""></p>  -->
    <h2>Profile picture</h2><center><h1>Make your profile</h1></center>
    <!-- <h2>Profile picture</h2> -->
    <!-- <p>Enter url to profile pic: <input type="text" name="image" value=""> <input type="Submit"  value="Submit"></p> -->
    <p>Enter url to profile pic: <input type="text" name="image" value=""><input type="Submit"  value="Submit"></p><center><p>Enter your name: <input type="text" name="name" value=""></p>
    <p>Your current location: <input type="text" name="current_location" value=""></p>
    <p>Enter your program: <input type="text" name="program" value=""></p>
    <p>Enter your Cohort: <input type="text" name="cohort" value=""></p>
    <p>Graduation year: <input type="text" name="year" value=""></p>
    <p>What are your interest: <input type="text" name="interest" value=""></p>
    <p><input type="Submit" value="Submit"></center></p>
  </body>
</html>
